{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Téléchargement - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container-download" >
    
        <h2>Ajouter un jeu</h2>

        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.picture) }}
            {{ form_row(form.price) }}

        <div class="form-aligned">
            {# {{ form_row(form.totalWeight) }} #}
            {{ form_row(form.duration) }}
            {{ form_row(form.createdat) }}
            {# {{ form_row(form.updateat) }} #}
        </div>

        <div class="form-aligned">
            
            {{ form_row(form.develop) }}
            {{ form_row(form.users) }}
            {{ form_row(form.status) }}
            {{ form_row(form.gamesCategory) }}
        </div>
            
        <div class="form-end">
            <button class="button">Ajouter</button>
        </div>

        {{ form_end(form) }}

    </main>
{% endblock %}


