{% extends 'base.html.twig' %}

{% block title %}Téléchargement - {{ parent() }}{% endblock %}

{% block body %}
    <main class="container_download">
    
        <h1>Ajouter un jeu</h1>

        {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

        <div class="form-aligned">
            {{ form_row(form.picture) }}
            {{ form_row(form.duration) }}
        </div>

        <div class="form-aligned">
            {{ form_row(form.price) }}
            {{ form_row(form.totalweight) }}
        </div>

        <div class="form-aligned">
            {{ form_row(form.category) }}
            {{ form_row(form.editors) }}
        </div>

            {{ form_row(form.develop) }}

        <div class="form-end">
            <button class="button">Ajouter</button>
        </div>

        {{ form_end(form) }}
        
    </main>
{% endblock %}


