{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Jeu - {{ parent() }}{% endblock %}

{% block body %}
<main class="main-game">
    <div class="container-infogame wit " >
        <!-- La carte d'information utilisateur -->
        <div class="bloc-top ">
            <img class="backgrd-img" src="{{asset('/images/exemples-logo-tattoo-633de1b0ca5d2.png')}}" alt="#">
            <div class="cont-logo">
                <img class="logo-game" src="{{ asset('images/' ~ game.picture) }}"/>
            </div>
            <div class="name">
                <h3>{{game.name}}</h3>
            </div>
        </div>
        
        <!-- La carte d'information utilisateur -->
        <div class="bloc-middle">
            <div>
                {{dump(category.name)}}
                {{dump(category.id)}}
                <ul class="ul-cat">
                    <li>{{category.name}}</li>
                    <li>{{category.name}}</li>
                    <li>{{category.name}}</li>
                </ul>
            </div>
           
        </div>
        {# 
            <h4></h4>
        <!-- La carte d'information utilisateur -->
        <div class="bloc-bot">
            <div class="sm-bloc-left">
                <div class="description-game">
                    <div class="price">
                        <p>{{game.price}}</p> #}
                        {# link une images #}
                        {# <img src="{{ asset('images/' ~ game.picture) }}"/>
                    </div>
                    <p> {{game.description}}</p>
                </div>
            </div>
            <div class="sm-bloc-right">
                <p>{{game.totalweight}}</p>
                <div class="get-file">
                    {{game.develop}}
                </div>
                {{game.duration}}
            </div>
        </div> #}
    </div>
   
    {# {{form_start(form)}}
        {{form_row(form.title)}}
        {{form_row(form.text)}}
        {{form_row(form.picture)}}
        {{form_row(form.grades)}}
        {{form_row(form.status)}}
        <!-- Si on appuye sur le boutton alors le popup du formulaire crée un article apparait-->
        <div class="form-end">
            <button class="button">Poster un poste</button>
        </div>
    {{form_end(form)}}
    
    <div class="form-popup">
        <div class="container-form-popup">
            <!-- ici faut mettre le formulaire-->
        </div>
    </div> #}
</main>
{% endblock %}