{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Jeu - {{ parent() }}{% endblock %}

{% block body %}
<main style="margin-top: 100px; text-align:center; color:white;">
    <div class="container-infogame" >
        <!-- La carte d'information utilisateur -->
        <div class="bloc-top">
            <img src="#" alt="#">
            <img class="logo-game" src="" alt="">
            <h2>{{game.name}}</h2>
        </div>

        <!-- La carte d'information utilisateur -->
        <div class="bloc-middle">
            <img src="#" alt="#">
            <p>{{category.name}}</p>
            
        </div>
            <h4></h4>
        <!-- La carte d'information utilisateur -->
        <div class="bloc-bot">
            <div class="sm-bloc-left">
                <div class="description-game">
                    <div class="price">
                        <p>{{game.price}}</p>
                        {# link une images #}
                        <img src="{{ asset('images/' ~ game.picture) }}"/>
                    </div>
                    <p> {{game.description}}</p>
                </div>
            </div>
            <div class="sm-bloc-right">
                <p>{{game.totalweight}}</p>
                <div class="get-file">
                    {{game.develop}}
                </div>
                {{game.duration}}
            </div>
        </div>
    </div>
   
     {{form(form)}}
    <!-- Si on appuye sur le boutton alors le popup du formulaire crée un article apparait-->
    <button class="btn">poster un article</button>
    <div class="form-popup">
        <div class="container-form-popup">
            <!-- ici faut mettre le formulaire-->
        </div>
    </div>
</main>
{% endblock %}