{% extends 'base.html.twig' %}


{% block title %}Library - {{ parent() }}{% endblock %}

{% block body %}
<main class="container-library">

    <h2>Librairie</h2>
    {# Filtre les jeux par catégorie *9 #}

    <div class="filter-game" >
        <label for="">Filtre par type de jeu</label>
        <select name="game-select" id="game-select">
            
            <option value="0">Tout</option>
            {% for category in category %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button>valider</button>
    </div>
    
    <!-- Grille de jeu 3 jeux collun -->
    <div class="grid-library">

        {# + boucle pour afficher tout les jeux qui existe ligne par ligne #}
        {# afficher les information sur le jeux #}
        {% for  game in game %}
        <div class="card-game">

            <img src="{{ asset('images/' ~ game.Picture ) }}" alt="{{game.name}}">
                
           

            <div class="game-card-info">
                <p>Nom Du Jeux :{{game.name}}</p>
                <span>Prix : {{game.price}}</span>
            </div>
            <a href="#" >{{game.users}}</a>

        </div>
        {% endfor %}
       {# boucle tout les jeux en card #}
    </div>

</main>
{% endblock %}

