{% block header %}

        <nav class="nav-top"> 

            <a class="logo " href="{{path('main_index')}}">VirtualGaming News</a>
            
            <div class="divNav">

                <a href="{{path('game_library')}}" class="library hover">Store</a>

                <form methode="GET" class="search_game">
                {# récupérer la valeur de l'input JS pour afficher la page de l'élement #}
                {# controller parametre de jeux  et renvoie et modifie  #}
                    <input type="search" name="search-game" class="game_search" id="search-game" placeholder="  Rechercher un jeux" aria-label="search-game">
                    <button class="button"><img src="{{ asset('asset/images/icons.png') }}" alt=""></button>
                </form>    

                <a href="{{path('main_cgu')}}" class="cgu_link"> CGU</a>

                <a href="{{path('main_about')}}" class="about_link">à Propos</a>
              
            </div>

            

            {% if app.user != null  %}
               
            
                <div class="log_in" >

                    <a href="{{path('user_perso',{'id' : app.user.id})}}" class="user-logo log">Profil</a> 
                    
                    <a href="{{path('game_download')}}" class="user-logo log">Ajouter un jeux</a>
                    <a href="{{path('user_logout')}}" class="user-logo log">Déconnexion</a>
                
                </div>

            {% else %}

                <div class="log_in" >
                    <a href="{{path('user_app_login')}}" class="user-logo log">Connexion</a>
                    <a href="{{path('register')}}" class="user-logo log">Inscription</a>
                </div>


            {% endif %}
        </nav>

        {# nav vertical #}

        <nav class="nav-vertical-left">
        
            <div class="icons-left">
                <a href="#" class="fa-solid fa-user-group fa-2xl">
                </a>
            </div>

            <div class="icons-left">
                <a href="#"class="fa-solid fa-book-bookmark fa-2xl">
                </a>
            </div>

        </nav>
{% endblock %}

