{% block header %}

        <nav class="nav-top"> 

            <a class="logo " href="{{path('main_index')}}">VirtualGaming News</a>
            
            <div class="divNav">

                <a href="{{path('game_library')}}" class="library hover">Store</a>

                <form role="search" class="search_game">
                    <input type="search" class="game_search" placeholder="  Rechercher un jeux" aria-label="Search">
                </form>    

                <a href="{{path('main_cgu')}}" class="cgu_link"> CGU</a>

                <a href="{{path('main_about')}}" class="about_link">à Propos</a>
              
            </div>

            <div class="log_in">
                <a href="{{path('user_login_register')}}" class="log">Log In / Sign Up</a>
            </div>

            <div class="dropdown_user_active" style="display: none;">

                <a href="" class="user-logo">
                    <img src="#" alt="">
                </a>

                <ul class="dropdown-menu">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Paramétre</a></li>
                    <li><a href="#">Déconnexion</a></li>
                </ul>

            </div>
        </nav>

        {# nav vertical #}

        <nav class="nav-vertical-left">
        
            <div class="icons-left">
                <a href="#" class="fa-solid fa-user-group fa-2xl">
                </a>
            </div>

            <div class="icons-left">
                <a href="#"class="fa-solid fa-book-bookmark fa-2xl">
                </a>
            </div>

        </nav>
{% endblock %}

