{% extends 'base.html.twig' %}

{% block title %}Acceuil - {{ parent() }} {% endblock %}

{% block body %}
<main class="container-index">
    <div class="info-homepage">
        <p>VirtualGaming New est une plateforme de mise a disposition de jeux Crée par des dévellopeurs pour tous les utilisateurs</p>
    </div>
    <h2>Meilleurs Jeux</h2>
    <div class="best-bloc">
        
        <div class="grid-bg">
            {# {% for game in game %} #}
            <div class="card-maxgame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-max">
                    <p>Nom Du Jeux :</p>
                    <span>Prix : </span>
                </div>
            
                <a href="#" ></a>
            </div>
            {# {% endfor %} #}
           <div class="card-maxgame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-max">
                    <p>Nom Du Jeux :</p>
                    <span>Prix : </span>
                </div>
            
                <a href="#" ></a>
            </div>
            <div class="card-maxgame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-max">
                    <p>Nom Du Jeux :</p>
                    <span>Prix : </span>
                </div>
            
                <a href="#" ></a>
            </div>
            {# test meilleur jeux #}
        </div>
    </div>
    <h2>Meilleurs Poste</h2>
    <div class="best-bloc">
        
        <div class="grid-bg">

            <div class="card-mingame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-max">
                    <p>Nom Du Jeux :</p>
                    
                </div>
            
                <a href="#" ></a>
            </div>

            <div class="card-mingame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-max">
                    <p>Nom Du Jeux :</p>
                    <span>Prix : </span>
                </div>
            
                <a href="#" ></a>
            </div>

            <div class="card-mingame">

                <img src="{{ asset('/images/') }}" alt="">

                <div class="game-card-min">
                    <p>Nom Du Jeux :</p>
                    <span>Prix : </span>
                </div>
            
                <a href="#" ></a>
            </div>
            {# affiché 3 post avec une bonne note #}
        </div>
    </div>
</main>
{% endblock %}
