{% extends 'base.html.twig' %}

{% block title %}Acceuil - {{ parent() }} {% endblock %}

{% block body %}
<main class="container-index">
    <div class="info-homepage">
        <p>VirtualGaming News est une plateforme de mise a disposition de jeux Crée par des dévellopeurs pour tous les utilisateurs</p>
    </div>
    <h2>Meilleurs Jeux</h2>
    <div class="best-bloc">
        
        <div class="grid-bg">

             {% for game in game %} 

                <div class="card-maxgame">

                    {# boucle sur 3 élement du tableau array_rand(tableau) array_rand($tableau, 3) #}
                        {# ~ game.picture / gamepicture truc comme sa#}
                    <img src="{{ asset('/images/' ~ game.picture) }}" alt="">

                    <div class="game-card-max">
                    
                        <p>Nom Du Jeux : {{game.name}}</p>
                    
                        <span>Prix : {{game.price}} </span>
                        
                    </div>
                
                    <a href="#" ></a>
                </div>
             {% endfor %} 
        </div>
    
        <h2>Meilleurs Postes</h2>
        <div class="best-bloc">
        
            <div class="grid-bg">
             {# {% for post in post %} #}

             <div class="card-mingame">

                {# boucle sur 3 élement du tableau array_rand(tableau) array_rand($tableau, 3) #}
                    {# ~ post.picture / postpicture truc comme sa#}
                <a href="#"><img src="{{ asset('/images/' ) }}" alt=""></a>

                <div class="game-card-min">
                
                    <p>Nom Du Jeux :post.title</p>
                    
                    <span>Prix : post.text</span>
                </div>
            
                <a href="#" ></a>
             </div>
            {# {% endfor %} #}
            </div>

            
            {# affiché 3 post avec une bonne note #}
        </div>
    </div>
</main>
{% endblock %}
