{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Connexion - Inscription{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-log">
    {# bootstrap #}
        <form class="toptop">
    
            <h2 class="">Connexion</h2>

            <div class="mb-3 mailsign">
                <p>Email :</p>
                <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="mb-3 mailsign">
                <p>Mot De Passe :</p>
                <input type="password" class="form-control" placeholder="Password">
            </div>

            <div class="checkbox mb-3">
                <input type="checkbox" value="remember-me"> Se souvenir
            </div>
            <div class="mb-3 button-signin">
            <button class="button" type="submit">Connexion</button>
            </div>
        </form>
        
        <hr>
        
        <div class="bloc-signup" >
            
            <h2>Inscription</h2>

            {{ form_start(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.roles) }}
                {{ form_row(form.createdat) }}
                <div class="form-end">
                    <button class="button">Confirmer</button>
                </div>

            {{ form_end(form) }}
            
        </div>
        
    </div>
{% endblock %}
