{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Connexion - Inscription{{ parent() }}{% endblock %}

{% block body %}
    <div class="container-log">


        <div class="bloc-login">

            <h2>Connexion</h2>

            <div class="form-login">

                {# {{brest0ou}}

                {{monMotDePasse}} #}

            </div>
        </div>
        
        
        <div class="bloc-signup" >
            
            <h2>Inscription</h2>

            {{ form_start(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.roles) }}
                {{ form_row(form.createdat) }}
                <div class="form-end">
                    <button class="button">Confirmer</button>
                </div>

            {{ form_end(form) }}
            
        </div>
        
    </div>
{% endblock %}
