{% extends 'base.html.twig' %}

{% block title %}Connexion - Inscription{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bloc-login">
            <h2>log-in</h2>
            <div class="form-login">
                <p>brest0ou</p>
                <p>monMotDePasse</p>
            </div>
        </div>
        
        
        <div class="bloc-signup">
            {{ form_start(form) }}

            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.Password) }}
                <p>Veuillez lire et validez nos conditions d'utilisation</p>
                <button class="btn">condition d'utilisation</button>
            <div class="form-end">
                <button class="button">Confirmer</button>
            </div>
            {{ form_end(form) }}
            
        </div>
        
    </div>
{% endblock %}
