{% extends 'base.html.twig' %}

{% block title %}Connexion - Inscription{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="bloc-login">
            <h2>log-in</h2>
            <div class="form-login">
                <p>brest0ou</p>
                <p>monMotDePasse</p>
            </div>
        </div>
        
        
        <div class="bloc-signup" style="margin-top:100px; margin-bottom:100px; color: white;text-align:center;">
            
            {{ form_start(form) }}

                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.password) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.picture) }}
                {{ form_row(form.roles) }}
                {{ form_row(form.createdat) }}
                <div class="form-end">
                    <button class="button">Confirmer</button>
                </div>

            {{ form_end(form) }}
            
        </div>
        
    </div>
{% endblock %}
